@import 'styles/var';

.morePosts {
 display: grid;
  grid-template-columns: repeat( 2 , 1fr);
  grid-template-rows:300px  300px;
  @include xl{
    grid-template-columns: repeat( 3 , 1fr);
    grid-template-rows:600px  600px;
  }

}

.card{

    .imageWrap{
      position: relative;
      height: 100px;
      width: 100px;
    }

  border: solid red 1px;
  &:nth-child(4){
     grid-column:  span 2 ;
      .imageWrap{
        position: relative;
        height: 200px;
        width: 100px;
      }
  }
  &:nth-child(n+5) ,&:nth-child(2){
     display: none;
  }
  @include xl{
    &:nth-child(n+5) ,&:nth-child(2){
      display: block;
    }
  }



}