@import "styles/var";

$itemColor: rgba(0, 0, 0, 0.4);
.listLink{
  padding: 40px 0;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  :global{

    .list{
      display: inline-flex;
      margin: 0 -14px;
      color: $itemColor;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.2em;
      white-space: nowrap;
      @include xxl{
        justify-content: center;
      }
      a{
        display: block;
        padding: 10px 15px;

      }
      .list-item{
        transition: .4s;
        &:hover{
          color: #54ECCA;
        }
      }
      .active{
        background: #05473C;
        border-radius: 48px;
        color: #54ECCA;
      }
    }
  }
}
