@import "styles/var";

.hero{
  background: $White;
  padding-top: 90px;
  @include lg{
    padding-top: 125px;
  }
  :global{
    .postImg{
      overflow: hidden;
      max-height: 600px;
      position: relative;
      &:after{
        content: "";
        background: linear-gradient(360deg, #ffffff 10%, rgba(140, 92, 251, 0) 55%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
      img, span{
        height: 100% !important;
        width: 100% !important;
      }
    }
    .inner{
      text-align: center;
      margin-top: -60px;
      position: relative;
      z-index: 1;
      @include md{
        margin-top: -100px;
      }
    }
    h1{
      font-size: 36px;
      font-weight: 400;
      letter-spacing: -0.03em;
      margin-bottom: 40px;
      @include md{
        font-size: 45px;
      }
      @include lg{
        font-size: 60px;
      }
    }
  }
}
.category{
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 0 -15px 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  li{
    margin: 0 15px;
  }
}
.description{
  max-width: 790px;
  margin: 0 auto 50px;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  @include lg{
    margin-bottom: 90px;
  }
}